{% extends "analytics/_layouts/settings" %}

{% set selectedSubnavItem = "Settings" %}
{% set bodyClass = "analytics analytics-settings"|t %}
{% set title = "Settings"|t %}

{% set content %}

  {% set namespacedId = namespacedId is defined ? namespacedId : '' %}
  {% set accounts = accounts  is defined ? accounts  : [] %}
  {% set token = token is defined ? token : '' %}
    
    {# <h2>Settings</h2>
    {{ settings |inspect }}
 #}
    
    
   {#  <h2>Provider</h2>
    {{ provider |inspect }}

    <h2>Token</h2>
    {{ token |inspect }} #}

    {# <h2>Properties</h2> #}
    {# {{ properties |inspect }} #}

   {#  <h2>Account</h2>
    {{ accounts |inspect }} #}

    {% import "_includes/forms" as forms %}

    <form method="post" action="" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="analytics/saveSettings">
        <input type="hidden" name="redirect" value="analytics/settings" />

        <div class="field">
          <div class="heading">
            <label for="type">Google Analytics Account</label>
          </div>
          <div class="input">
            <div class="select">
                {% set accountId = settings['account']['accountId'] is defined ? settings['account']['accountId'] : '' %}
                <select id="{{ namespacedId }}-accountId" name="account">
                    {% for key, option in accounts %}
                        {% set optionLabel = (option.name is defined ? option.name : option) %}
                        {% set optionValue = (option.id is defined ? option.id : key) %}
                      <option value="{{ optionValue }}"{% if optionValue == accountId %} selected{% endif %}>{{ optionLabel }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="heading">
            <label for="type">Web Properties</label>
          </div>
          <div class="input">
            <div class="select">
                {% set propertyId = settings['property']['propertyId'] is defined ? settings['property']['propertyId'] : '' %}
                <select id="{{ namespacedId }}-propertyId" name="property"></select>
            </div>
          </div>
        </div>

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save Account'|t }}">
        </div>

        <hr />

    </form>
    
    {% if settings.account %}
      <button class="btn submit" id="analyticsGetProperties">{{ 'Get Properties'|t }}</button>
    {% endif %}

    {% includejs %}
      new Craft.GoogleAnalyticsProperty(
        "{{ accountId }}",
        "{{ propertyId }}",
        "{{ namespacedId }}-propertyId"
      );
    {% endincludejs %}

    {# {% includejs %}
      new Craft.GoogleAnalyticsProperty(
        "{{ id|namespaceInputId|e('js') }}",
        "{{ name|namespaceInputName|e('js') }}",
        "{{ fieldId|e('js') }}",
        "{{ elementId|e('js') }}"
      );
    {% endincludejs %} #}



     
  {% if token %}
     <a class="btn submit" href="{{ actionUrl('analytics/authorize/disconnect') }}">{{"Disconnect From Google"|t}}</a>
   {% else %}
     <a class="btn submit" href="{{ actionUrl('analytics/authorize/connect') }}">{{"Connect to Google"|t}}</a>
   {% endif %}


{% endset %}